<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Program.cs" />
            </files>
        </defaultDocument>
		<security>
			<requestFiltering>
				<hiddenSegments>
					
				</hiddenSegments>
				
			</requestFiltering>
		</security>
    </system.webServer>
</configuration>



