<h3>Terms</h3>


<div class="row">

    <h2>Terms and Conditions</h2>

    <p>Welcome to Sike's Alley.  I use this website to track user and customer details.  </p>

    <p>Please Sign In.</p>

    <p>Agree to terms and conditions </p>

</div>



    @code {

    }
